@font-face {
  font-family: "Ananias";
  src: url("./assets/Ananias.ttf");
}

body {
  padding-top: 95px;
  padding-left: 140px;
  background-color: rgb(81, 81, 81);
  text-align: left;
  size-adjust: initial;
  font-family: Ananias;
}

.nav-container {
  background-color: rgb(49, 58, 114);
  display: flex;
  font-size: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
}

.nav-container img {
  height: 6em;
  padding: 1.5em;
}

.nav-container img {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.nav-container img {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.item-form {
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  border-radius: 1em;
  background-color: rgb(197, 162, 35);
}

.item-card {
  border: 2px solid white;
  margin: 20px;
  padding: 20px;
  border-radius: 1em;
  background-color: rgb(25, 25, 25);
}

.footer-container {
  background-color: rgb(49, 58, 114);
  padding: 2em;
  text-align: center;
  font-size: 12px;
  height: 50px;
  width: 100%;
}

.footer-container a {
  color: beige;
  border: 2px white solid;
  padding: 0.5em;
  border-radius: 2em;
}

.sidebar-cont {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 140px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 90px; /* Stay at the top */
  left: 0;
  background-color: rgb(6, 102, 44);
  overflow: auto;
  display: flex;
}

.sidebar-cont li {
  border: 2px white solid;
  border-radius: 2em;
  padding: 6px 20px;
  display: block; /* quita los puntos*/
}

.sidebar-cont a {
  color: beige;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-text-container {
  width: 50%;
  text-align: justify;
}

.about-photos-container img {
  border-radius: 100%;
  margin: 20px;
  height: 250px;
}
